@charset "UTF-8";
/*******************utilidades_variables*********************/
/*colors*/
/*spacings*/
/*font-sizes*/
/************** base_reset.scss***********************************/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200&family=Open+Sans:ital@1&family=Rubik:ital,wght@1,300&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    font-family: 'Mulish', sans-serif; }
    html body img {
      width: 100%; }
    html body a {
      text-decoration: none; }
    html body li {
      list-style-type: none; }

/********************utilidades_funciones***********************************/
/*******  google_font********/
/***************************** layout_header.scss*****************************/
/*z-index mayor pasa por delante del logo footer*/
.header {
  position: relative;
  z-index: 50; }

/*estilos del flex */
.header__section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
  background-color: #042ebe;
  /*clase para cambiar tamaños de iconoscolor redes fontawesome*/
  /*hover de redes header*/
  /*clase estilos icono correo header*/
  /*hover de icono correo header*/ }
  .header__section1 .icono__phone {
    /*estilos icono phone galeria bootstrap*/
    /*extend de class .fa-brands layout_header*/
    padding-right: 1.5rem; }
  .header__section1 .fa-brands, .header__section1 .icono__phone {
    font-weight: 500;
    font-size: 2.5em;
    color: black; }
  .header__section1 .fa-brands:hover, .header__section1 .icono__phone:hover {
    color: white; }
  .header__section1 .fa-solid {
    font-size: 2.5em;
    color: black; }
  .header__section1 .fa-solid:hover {
    color: white; }

/*estilos letra slogan*/
.header__section1 p {
  color: white;
  font-weight: bolder;
  font-size: 1.6em; }

/*--estilos del menu nav --*/
.nav__color {
  background-color: white;
  border-bottom: solid 2px #042ebe;
  /*dar estilos de texto borde y sobre escribir color letra de enlaces a del nav (clase está en todas las secciones del menu de navegacion)  */
  /*sobreescribir el color de la letra con hover del nav*/
  /*clase active del menu*/
  /*cambiar estilos del incono del menu de nav (clase de libreria fontawensome)   linea 76 html*/
  /*sobreescribir clase de bootstrap para quitar borde del icono del menu que aparece por defecto   linea 73 html*/
  /*sobreescribir clase de bootstrap para quitar el borde que se produce al hacer clic (:focus) en el menu  linea 73 html*/
  /*sobreescribir el flex de la clase para dar espacio entre logo y menú menu   linea 78 html*/
  /*dar ancho y alto a logo*/ }
  .nav__color .color__texto1 {
    text-align: center;
    border: solid #042ebe 1px;
    background-color: #042ebe;
    border-radius: 5%;
    font-weight: bolder;
    font-size: 1.6em;
    margin: 0 0.5rem;
    color: white !important; }
  .nav__color .color__texto1:hover {
    color: black !important; }
  .nav__color .active {
    color: black !important;
    border: 1 1px solid black;
    border-radius: 5%; }
  .nav__color .fa-solid {
    font-weight: lighter;
    font-size: 4rem;
    color: black; }
  .nav__color .navbar-toggler {
    border: none; }
  .nav__color .navbar-toggler:focus {
    box-shadow: none; }
  .nav__color .nav__flex {
    justify-content: space-around; }
  .nav__color .header__navbar-logo {
    max-width: 300px; }

/********************************layout_main.scss*****************************/
/*contenedor imagen 1 y h1 */
.main__section1 {
  background-image: url(../multimedia/main_section1.jpg);
  background-size: cover;
  background-position: center, center;
  color: white;
  padding: 10rem 6rem 10rem 6rem;
  display: flex;
  /*estilos article h1 h2 h3 icons */
  /*clase contenedor aside de iconos*/ }
  .main__section1 article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(4, 46, 190, 0.7);
    padding: 4rem 2.5rem;
    border-radius: 1%; }
    .main__section1 article h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 3.8em;
      font-weight: 900;
      padding-bottom: 2rem;
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); }
    .main__section1 article h2 {
      font-size: 3em;
      font-weight: 900; }
    .main__section1 article h3 {
      font-size: 2.5em;
      font-weight: 900; }
  .main__section1 .section__icon {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: 5rem;
    /*div icon pc de boostrap*/
    /*div icon nube de fontawensome*/ }
    .main__section1 .section__icon .icon__pc {
      position: relative;
      top: 15rem;
      right: 22rem;
      /*clase icon bootstrap pc*/ }
      .main__section1 .section__icon .icon__pc .icon__main {
        font-size: 18rem; }
    .main__section1 .section__icon .icon__nube {
      position: relative;
      bottom: 10rem;
      left: 5rem;
      /*clase icon fontawensome nube*/ }
      .main__section1 .section__icon .icon__nube .fa-brands, .main__section1 .section__icon .icon__nube .header__section1 .icono__phone, .header__section1 .main__section1 .section__icon .icon__nube .icono__phone {
        font-size: 32rem; }

/*clase franjas main*/
.div__franjas div {
  height: 1rem;
  background-color: #042ebe;
  margin: 0.5rem 0 0.5rem 0; }

.div__franjas .div__franja-2 {
  height: .8rem;
  margin: 0.4rem 0 0.3rem 0; }

/******************************* layout_footer.scss****************************/
/*flex del form estilos img*/
.footer__general1 {
  background-image: url(../multimedia/footer_section1.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*estilos del form */
  /*estilos generales del contenedor del form1*/
  /*estilos de campos form1 section1*/
  /*estilos legend del fieldset form1 section1*/ }
  .footer__general1 form {
    padding: 0 1rem 2rem 1rem;
    color: white;
    background-color: rgba(4, 46, 190, 0.7);
    width: 50rem;
    margin: 2rem 0 2rem 0;
    border-radius: 1%; }
  .footer__general1 .estilos__form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: none;
    margin-top: 2rem; }
  .footer__general1 .imput__form1 {
    font-size: 1.9em;
    font-weight: 500; }
  .footer__general1 .legend__form1 legend {
    font-size: 2.5em;
    font-weight: 900; }

/*estilos de espaciado titulos form1 section 1*/
.titulos__form1, .footer__phone-grid .footer__section1, .footer__phone-grid .footer__aside {
  padding-top: 2rem;
  /*estilos de tamaños p titulos form1 section 1*/ }
  .titulos__form1 p, .footer__phone-grid .footer__section1 p, .footer__phone-grid .footer__aside p {
    font-size: 3em;
    font-weight: bolder;
    text-align: center; }

/*estilos grid de telefono footer y mensaje 2*/
.footer__phone-grid {
  display: grid;
  grid-template-areas: 'footer__phone-grid-area1 footer__phone-grid-area2';
  /*estilos footer section telefonos*/
  /*estilos contenedor telefono-llamanos*/ }
  .footer__phone-grid .footer__section1, .footer__phone-grid .footer__aside {
    margin: 0;
    background-color: #042ebe;
    text-shadow: 1px 2px 2px black; }
  .footer__phone-grid .footer__aside {
    background-color: white;
    /* pading derecho icono telefono */ }
    .footer__phone-grid .footer__aside .estilos__icono-phone {
      padding-right: 1.5rem; }

/*estidos generales section footer__mapa de sitio*/
.footer__section-map {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #e8eded;
  padding-top: 3rem;
  /*tamaño inconos redes footer*/
  /*color :hover inconos redes footer*/
  /*contenedor logo footer z-index menor pasa por detras del header*/
  /*ancho imagen logo-footer*/
  /*tamaño de letras footer-map*/
  /*estilos form-boletin*/
  /*color, sepatracion letra map*/
  /*hover enlances (letras)map*/
  /*estilos form del map*/ }
  .footer__section-map .footer__section-redes a {
    text-align: center; }
  .footer__section-map .footer__section-redes i {
    font-size: 3em; }
  .footer__section-map .footer__section-redes i:hover {
    color: #042ebe; }
  .footer__section-map .logo__footer {
    position: relative;
    z-index: 10; }
  .footer__section-map .img__logo-footer {
    margin-bottom: 3rem;
    max-width: 300px; }
  .footer__section-map .footer__section-lista {
    font-size: 1.6em;
    padding: 3rem;
    /*pading de li*/
    /*pading de h2 de li*/ }
    .footer__section-map .footer__section-lista li {
      padding-bottom: 1rem; }
    .footer__section-map .footer__section-lista h2 {
      padding-bottom: 1rem; }
  .footer__section-map .footer__section-boletin {
    font-size: 1.6em; }
  .footer__section-map .footer__spam-letra {
    color: black;
    margin-left: 1rem;
    font-weight: 500; }
  .footer__section-map .footer__spam-letra:hover {
    color: #042ebe; }
  .footer__section-map .form__footer-map {
    margin-right: 2rem; }

/*div enlace correo*/
.contacto__correo {
  margin: 2rem 1rem 0 0;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }
  .contacto__correo a {
    color: #042ebe; }
  .contacto__correo a:hover {
    color: #9696ff; }

/*seccion aside-copyrigt footer*/
.footer__aside-copy {
  background-color: #e8eded;
  font-size: 1.2em;
  text-align: end;
  padding: 1rem; }

/*estilos del contenedor padre del form1*/
/***************************componentes_botones.scss*************************/
/*boton form1 section1*/
.btn__form1 {
  font-size: 1.9em;
  font-weight: lighter;
  color: white;
  background-color: #042ebe; }

.btn__position {
  position: relative;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  /* Centra horizontalmente el botón */ }

/* animación para modal*/
@keyframes slideDown {
  from {
    transform: translateY(30%);
    opacity: 0; }
  to {
    transform: translateX(-50%);
    opacity: 1; } }

/*vistas*/
/*contenedor quienes somos inicio*/
.section__inicio {
  display: flex;
  flex-direction: column;
  background: linear-gradient(white, #9696ff, rgba(4, 46, 190, 0.6));
  /*contenedor 1 general titulo*/
  /*contenedor inicio-historia article scroll inicio-quienes*/
  /*contenedor article con scroll inicio-historia*/
  /*estilos  para la barra de desplazamiento scroll crome-edge-opera nota: en mozilla no se  toman*/
  /*spam quienes somos inicio*/
  /*div link inicio*/ }
  .section__inicio .section__inicio-1 {
    display: flex;
    width: 80%;
    /*titulo h2 quienes somos inicio*/ }
    .section__inicio .section__inicio-1 h2 {
      font-family: 'Open Sans', sans-serif;
      color: black;
      font-size: 3em;
      font-weight: 900;
      padding: 4rem 6rem 2rem 6rem;
      text-align: center; }
  .section__inicio .section__inicio-3 {
    height: 16rem;
    overflow-y: hidden;
    /*p de article con esta clase, no indentar*/ }
    .section__inicio .section__inicio-3 p {
      font-size: 2rem;
      padding: 0 18rem 0 22rem;
      color: black;
      font-weight: 600;
      text-align: justify; }
  .section__inicio .section__inicio-2 {
    height: 16rem;
    overflow-y: scroll;
    /*p de article con esta clase, no indentar*/ }
    .section__inicio .section__inicio-2 p {
      font-size: 2rem;
      padding: 0 18rem 0 22rem;
      color: black;
      font-weight: 600;
      text-align: justify; }
  .section__inicio .section__inicio-2::-webkit-scrollbar {
    width: 0.5rem;
    /* Ancho de la barra de desplazamiento */ }
  .section__inicio .section__inicio-2::-webkit-scrollbar-thumb {
    background-color: black;
    /* Color del botón de desplazamiento */
    border-radius: 0.5rem;
    /* Borde redondeado del botón de desplazamiento */ }
  .section__inicio .section__inicio-2::-webkit-scrollbar-thumb:hover {
    background-color: #042ebe;
    /* Cambio de color al pasar el mouse por encima */ }
  .section__inicio .resaltado {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
  .section__inicio .inicio__link {
    text-align: end;
    padding: 2rem 18rem 2rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem; }
    .section__inicio .inicio__link a {
      color: black; }
    .section__inicio .inicio__link a:hover {
      color: #042ebe; }

/*contenedor general seccion inicio servicios */
.inicio__servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, rgba(4, 46, 190, 0.7), rgba(255, 255, 255, 0.7));
  padding: 10rem 6rem;
  color: black;
  /* Clases para los iconos utilizando la propiedad 'content' icono esta en cada elemento*/
  /*estilos delos div de  iconos*/
  /*clase contenedor titulo h2 inicio__servicios*/
  /*se le debe dar un valor a la clase para usar la pseudoclase hover*/ }
  .inicio__servicios .section__iconos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 3rem;
    /*clase en cada enlace div da estilos a la fuente en esta seccion esta clase es para la seccion servicios*/
    /*se necesita  darle font-family de fontawensome para que se reconozca el unicode en el content, la clase icono da estilos al pseudoelemento before que es el icono que se muestra antes de la letra*/ }
    .inicio__servicios .section__iconos .icono, .inicio__servicios .section__iconos .iconoServicioJs {
      font-size: 2rem;
      color: black;
      cursor: pointer; }
    .inicio__servicios .section__iconos .icono:hover, .inicio__servicios .section__iconos .iconoServicioJs:hover {
      color: #042ebe; }
    .inicio__servicios .section__iconos .icono::before, .inicio__servicios .section__iconos .iconoServicioJs::before {
      font-size: 2.4rem;
      margin-right: 1rem;
      font-family: FontAwesome; }
  .inicio__servicios div {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    font-family: 'Raleway', sans-serif; }
  .inicio__servicios .servicios__inicio {
    color: black;
    margin-bottom: 3rem; }
    .inicio__servicios .servicios__inicio h2 {
      font-size: 3.8em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 900; }
  .inicio__servicios .servicios__inicio:hover {
    color: #042ebe; }

/****************seccion clientes-inicio*******/
/*contenedor general titulo h2 y galeria*/
.section__clientes {
  display: flex;
  flex-direction: column;
  background: linear-gradient(white, #9696ff, rgba(4, 46, 190, 0.6));
  /*contenedor titulo h2 a */
  /*contenedor divs galeria */
  /***seccion inicio-modal ***/
  /* contenedor general modal*/ }
  .section__clientes .section__clientes-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 4rem 6rem 4rem 6rem;
    /*estos estilos deben darse  al h2 directamente*/
    /*estos estilos deben darse  al a directamente enlace titulo inicio-clientes*/
    /*hover enlace titulo inicio-clientes*/ }
    .section__clientes .section__clientes-title a {
      color: black;
      font-size: 1.9em;
      font-weight: 900; }
    .section__clientes .section__clientes-title a:hover {
      color: #042ebe; }
  .section__clientes .section__clientes-galery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 5rem;
    margin: 2rem 18rem 4rem 18rem;
    /*clase encada div galeria */
    /* Agrega un aumento de escala a las imágenes en hover */
    /* Agrega un aumento de escala a las imágenes en clic */
    /*h5 de cada div galeria */ }
    .section__clientes .section__clientes-galery .inicio__galery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 140px;
      height: 90px;
      background-color: white;
      border-radius: 1rem;
      /*img de cada div galeria */
      /*clase a algunas img que modifica altura logo-contenidos*/
      /*clase pading img grinsa ancho */ }
      .section__clientes .section__clientes-galery .inicio__galery img {
        border-radius: 1rem; }
      .section__clientes .section__clientes-galery .inicio__galery .inicio__galery-img {
        height: 100%;
        max-width: 300px; }
      .section__clientes .section__clientes-galery .inicio__galery .inicio__galery-img1 {
        padding: 0 1rem 0 1rem;
        max-width: 300px; }
      .section__clientes .section__clientes-galery .inicio__galery .logo__empresas {
        max-width: 300px; }
    .section__clientes .section__clientes-galery .inicio__galery:hover {
      transform: scale(2);
      /* Escala al 120% en hover */
      transition: transform 0.3s ease;
      /* Agrega una transición suave */ }
    .section__clientes .section__clientes-galery .inicio__galery img:active {
      transform: scale(1.2);
      /* Escala al 120% en clic */
      transition: transform 0.3s ease;
      /* Agrega una transición rápida */ }
    .section__clientes .section__clientes-galery .inicio__galery-h5 {
      text-align: center;
      margin-top: 1rem;
      color: black;
      font-weight: bold;
      font-family: 'Nunito', serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
  .section__clientes .modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    /* Estilos para el contenido de la modal que se posicione en el centro */
    /* Estilos para el enlace de cierre */
    /* Estilos para la imagen cuando se despliega la modal  */ }
    .section__clientes .modal .modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      text-align: center;
      border-radius: 1rem;
      width: 70rem; }
    .section__clientes .modal .cerrar .fa-rectangle-xmark {
      color: #9696ff;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 5rem;
      text-decoration: none;
      z-index: 20;
      cursor: pointer; }
    .section__clientes .modal .cerrar .fa-rectangle-xmark:hover {
      color: rgba(4, 46, 190, 0.6); }
    .section__clientes .modal .modal-content img {
      max-width: 100%;
      padding: 4rem 2rem; }

/*clase para darle display none a la modal */
.modalDisplay {
  display: none; }

/* Estilos para la modal de fondo */
.modal__background-servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  /* Estilos para la modal de contenido */ }
  .modal__background-servicios .modal__content-servicios {
    background-color: #e8eded;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110rem;
    height: 50rem;
    overflow: auto;
    animation: slideDown 0.5s ease;
    /*estilos del contenido de la modal*/
    /*contenedor general aside-contenido-modal*/ }
    .modal__background-servicios .modal__content-servicios .contenedor-servicio {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: linear-gradient(to bottom, #e8eded, rgba(4, 46, 190, 0.6));
      flex-grow: 1;
      /* Esto permite que el contenedor se expanda para llenar la altura disponible */
      padding: 3rem;
      /*titulo de la modal*/
      /*contenedor ul-img*/ }
      .modal__background-servicios .modal__content-servicios .contenedor-servicio .titulo-servicio {
        font-size: 3rem;
        margin-top: 20px;
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
      .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto {
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        /*clase en img-servicio*/
        /*clase del ul*/
        /* Viñeta pseudoelemento */
        /* Aumenta el interlineado li */ }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .imagen-servicio {
          width: 40%;
          max-height: 100%;
          object-fit: cover;
          position: relative;
          top: 15%; }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .lista-servicio {
          list-style-type: none;
          font-size: 2rem;
          color: black;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          margin-bottom: 0; }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .lista-servicio li::before {
          content: "•";
          color: #042ebe;
          /* Color de la viñeta */
          display: inline-block;
          width: 1em;
          margin-left: -1em; }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .lista-servicio li {
          line-height: 1.5; }

/* Estilos para la modal de fondo */
.modal__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  /* Estilos para la modal de contenido */
  /*clase contenedor modal-form*/ }
  .modal__background .modal__content, .modal__background .modal__content-form {
    background-color: white;
    padding-top: 2rem;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120rem;
    height: 50rem;
    gap: 3rem;
    overflow: auto;
    animation: slideDown 0.5s ease;
    /*******estilos contenedor producto******/
    /* Agrega un aumento de escala a las imágenes en clic */
    /*div flex donde se imprimiran los productos, clase desde js function mostrarProductos(array)*/
    /*h3 se imprimira el titulo de los productos esta clase es desde js  ***/ }
    .modal__background .modal__content .cont__producto, .modal__background .modal__content-form .cont__producto {
      font-size: 1.5rem;
      background-color: #9696ff;
      padding: 1rem;
      margin: 0 1.5rem 1rem 0rem;
      border-radius: 0.5rem;
      color: black;
      font-weight: 600;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 6px #042ebe, 0 1px 3px black;
      width: 16rem;
      cursor: pointer; }
    .modal__background .modal__content .cont__producto:hover, .modal__background .modal__content-form .cont__producto:hover {
      background-color: rgba(4, 46, 190, 0.6);
      transform: scale(1.2);
      /* Escala al 120% en hover */
      transition: transform 0.3s ease;
      /* Agrega una transición suave */ }
    .modal__background .modal__content .cont__producto:active, .modal__background .modal__content-form .cont__producto:active {
      transform: scale(1.2);
      /* Escala al 120% en clic */
      transition: transform 0.3s ease;
      /* Agrega una transición rápida */ }
    .modal__background .modal__content .productoFlex, .modal__background .modal__content-form .productoFlex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .modal__background .modal__content .tituloProductoH3, .modal__background .modal__content-form .tituloProductoH3 {
      color: black;
      font-size: 3.8em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
      margin-top: 2.5rem; }
  .modal__background .modal__content-form {
    top: 50%;
    width: 40rem;
    max-height: 100%;
    background-color: rgba(4, 46, 190, 0.7); }

/*******clase js para dejar prductos selecionados al hacer clic No indentar este bloque*/
.producto__seleccionado {
  color: inherit; }

/*****esta clase tiene los estilos y trabaja en js NOTA no indentar, elementos se crean dinamicamente y puede dar error*/
.seleccionado {
  background-color: rgba(4, 46, 190, 0.6);
  transform: scale(1.2);
  /* Escala al 120% en hover */
  transition: transform 0.3s ease;
  /* Agrega una transición suave */ }

/* form general de productos */
.form__productos {
  padding: 0 1rem 2rem 1rem;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 1%;
  /* fieldset del form */ }
  .form__productos fieldset {
    font-size: 1.5rem;
    /* formProductos clase estilos de cada input*/ }
    .form__productos fieldset legend {
      font-size: 2rem;
      font-weight: 500; }
    .form__productos fieldset .FormProductos {
      font-size: 1.5rem; }

/* Estilos para el enlace de "Cerrar" */
.cerrarModal {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  text-align: center;
  padding: 0 2rem;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Transición de colores suave */
  position: relative;
  top: 6rem;
  font-size: 1.5rem;
  position: relative;
  top: 0%;
  /*contiene el icono y sirve para centrarlo en el div dandole flex al contenedor principal*/ }
  .cerrarModal i {
    background-color: #042ebe; }
  .cerrarModal i:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    transform: scale(1.2);
    /* Escala al 120% en hover */
    transition: transform 0.3s ease;
    /* Agrega una transición suave */ }

/* Cambia estilos del icono cerrar clase fontawnsome */
.fa-xmark {
  font-size: 3rem;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white; }

/*************************utilidades_mediaquieries***************************/
@media screen and (min-width: 1px) and (max-width: 400px) {
  /************header****************/
  .header {
    position: sticky;
    top: 0%; }
  /*header dejar navbar-hamburguesa fijo 540*/
  .navbar {
    position: fixed;
    background-color: transparent;
    /*ancho de logo en menu ham 540*/ }
    .navbar .header__navbar-logo {
      width: 120px; }
  /************main*****************/
  /*estilos h1 h2 h3 icons section inicio h1 pc nube article viene de main*/
  /*contenedor imagen 1 y h1 */
  .main__section1 {
    flex-direction: column;
    padding: 10rem 2rem 2rem 2rem;
    /*estilos article h1 h2 h3 icons */
    /*clase contenedor aside de iconos*/ }
    .main__section1 article {
      padding: 3rem 1rem;
      border-radius: 1%; }
      .main__section1 article h1 {
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem 0 0 0; }
      .main__section1 article h2 {
        font-size: 2.2rem; }
      .main__section1 article h3 {
        font-size: 1.8rem; }
    .main__section1 .section__icon {
      flex-direction: column-reverse;
      align-items: center;
      position: relative;
      left: 0;
      /*div icon pc de boostrap*/
      /*div icon nube de fontawensome*/ }
      .main__section1 .section__icon .icon__pc {
        position: relative;
        top: -5rem;
        right: 0;
        /*clase icon bootstrap pc*/ }
        .main__section1 .section__icon .icon__pc .icon__main {
          font-size: 14rem; }
      .main__section1 .section__icon .icon__nube {
        position: relative;
        bottom: 2rem;
        left: 1.5rem;
        /*clase icon fontawensome nube*/ }
        .main__section1 .section__icon .icon__nube .fa-brands, .main__section1 .section__icon .icon__nube .header__section1 .icono__phone, .header__section1 .main__section1 .section__icon .icon__nube .icono__phone {
          font-size: 22rem; }
  /********seccion quienes somos inicio*/
  /*contenedor 1 general titulo*/
  .section__inicio {
    /*contenedor inicio-historia article scroll inicio-quienes*/
    /*estilos  para la barra de desplazamiento scroll crome-edge-opera nota: en mozilla no se  toman*/
    /*contenedor article con scroll inicio-historia*/ }
    .section__inicio .section__inicio-1 {
      width: 100%;
      justify-content: center;
      /*titulo h2 quienes somos inicio*/ }
      .section__inicio .section__inicio-1 h2 {
        padding: 4rem 6rem 2rem 6rem;
        text-align: center;
        font-size: 2.5em; }
    .section__inicio .section__inicio-3 {
      height: 16rem;
      overflow-y: scroll;
      /*p de article con esta clase*/ }
      .section__inicio .section__inicio-3 p {
        font-size: 1.5rem;
        padding: 0 3rem 0 2rem; }
    .section__inicio .section__inicio-3::-webkit-scrollbar {
      width: 0.5rem;
      /* Ancho de la barra de desplazamiento */ }
    .section__inicio .section__inicio-3::-webkit-scrollbar-thumb {
      background-color: black;
      /* Color del botón de desplazamiento */
      border-radius: 0.5rem;
      /* Borde redondeado del botón de desplazamiento */ }
    .section__inicio .section__inicio-3::-webkit-scrollbar-thumb:hover {
      background-color: #042ebe;
      /* Cambio de color al pasar el mouse por encima */ }
    .section__inicio .section__inicio-2 {
      /*p de article con esta clase, no indentar*/ }
      .section__inicio .section__inicio-2 p {
        font-size: 1.5rem;
        padding: 0 3rem 0 2rem; }
  /*contenedor general seccion inicio servicios */
  .inicio__servicios {
    padding: 6rem 6rem;
    /* Clases para los iconos icono esta en cada elemento*/
    /*estilos delos div de  iconos*/
    /*clase contenedor titulo h2 inicio__servicios*/ }
    .inicio__servicios .section__iconos {
      column-gap: 2rem;
      row-gap: 2rem;
      /*clase en cada enlace div da estilos a la fuente*/
      /*se necesita  darle font-family de fontawensome para que se reconozca el unicode en el content, la clase icono da estilos al pseudoelemento before que es el icono que se muestra antes de la letra*/ }
      .inicio__servicios .section__iconos .icono, .inicio__servicios .section__iconos .iconoServicioJs {
        font-size: 1rem;
        text-align: justify;
        padding: 1.5rem; }
      .inicio__servicios .section__iconos .icono::before, .inicio__servicios .section__iconos .iconoServicioJs::before {
        font-size: 2rem; }
    .inicio__servicios div {
      padding: 1rem;
      margin: 0.5rem; }
    .inicio__servicios .servicios__inicio h2 {
      font-size: 2.5em; }
  /***seccion clientes aliados****/
  .section__clientes {
    /*contenedor titulo h2 a */
    /*contenedor divs galeria */
    /* contenedor general modal*/ }
    .section__clientes .section__clientes-title {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      padding: 4rem 6rem 4rem 6rem;
      /*estos estilos deben darse  al a directamente enlace titulo inicio-clientes*/ }
      .section__clientes .section__clientes-title a {
        font-size: 1.6em; }
    .section__clientes .section__clientes-galery {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin: 1rem;
      column-gap: 1rem; }
    .section__clientes .modal {
      /*sub contenedor de la modal tamaño contenedor que contiene  la img*/ }
      .section__clientes .modal .modal-content {
        width: 32rem; }
  /*modal inicio - servicios*/
  /* Estilos para la modal de fondo */
  .modal__background-servicios {
    /* Estilos para la modal de contenido */ }
    .modal__background-servicios .modal__content-servicios {
      width: 35rem;
      height: 40rem;
      flex-direction: column;
      /*estilos del contenido de la modal*/
      /*contenedor general aside-contenido-modal*/ }
      .modal__background-servicios .modal__content-servicios .contenedor-servicio {
        padding: 1rem;
        /*titulo de la modal*/
        /*contenedor ul-img*/ }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .titulo-servicio {
          font-size: 1.5rem; }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto {
          flex-direction: column-reverse;
          /*clase en img-servicio*/
          /*clase del ul*/ }
          .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .imagen-servicio {
            position: relative;
            top: 0%;
            left: 30%; }
          .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .lista-servicio {
            font-size: 1.2rem; }
  /****************seccion productos ********************/
  .modal__background .modal__content, .modal__background .modal__content-form {
    width: 35rem;
    height: 43rem; }
    .modal__background .modal__content .productoFlex, .modal__background .modal__content-form .productoFlex {
      flex-direction: row; }
      .modal__background .modal__content .productoFlex .producto__seleccionado .cont__producto, .modal__background .modal__content-form .productoFlex .producto__seleccionado .cont__producto {
        font-size: 1rem;
        width: 5rem;
        padding: .5rem;
        overflow-y: hidden; }
    .modal__background .modal__content .tituloProductoH3, .modal__background .modal__content-form .tituloProductoH3 {
      font-size: 2rem; }
  .modal__background .btn__position {
    top: 5%; }
  .modal__background .modal__content-form {
    position: relative;
    top: 45%; }
  /************footer****************/
  .footer__general1 {
    padding-top: 3rem; }
  /*zise letra ancho form 540px*/
  .footer__general1 form {
    width: 90%;
    font-size: 0.5rem; }
  /*footer sacar el grid de llamanos 540*/
  .footer__phone-grid {
    display: none; }
  /*posicion logo footer 540*/
  .logo__footer {
    position: relative;
    left: 15%;
    /*ancho logo*/ }
    .logo__footer .img__logo-footer {
      width: 150px; }
  /*correo footer*/
  .contacto__correo {
    font-size: 1.7rem;
    margin-right: 0rem; } }

@media screen and (min-width: 401px) and (max-width: 768px) {
  /************header****************/
  /*  dejar fijo header a 0% del borde superior del navegador despues de 720*/
  .header {
    position: sticky;
    top: 0%; }
  /*header dejar navbar-hamburguesa fijo 720*/
  .navbar {
    position: fixed;
    background-color: transparent;
    /*ancho de logo en menu ham 720*/ }
    .navbar .header__navbar-logo {
      width: 120px; }
  /************main*****************/
  /*estilos h1 h2 h3 icons section inicio h1 pc nube article viene de main*/
  /*contenedor imagen 1 y h1 */
  .main__section1 {
    flex-direction: column;
    padding: 5rem 2rem 2rem 2rem;
    /*estilos article h1 h2 h3 icons */
    /*clase contenedor aside de iconos*/ }
    .main__section1 article {
      padding: 3rem 1rem;
      border-radius: 1%; }
      .main__section1 article h1 {
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem 0 0 0; }
      .main__section1 article h2 {
        font-size: 2.2rem; }
      .main__section1 article h3 {
        font-size: 1.8rem; }
    .main__section1 .section__icon {
      flex-direction: column-reverse;
      align-items: center;
      position: relative;
      left: 0;
      /*div icon pc de boostrap*/
      /*div icon nube de fontawensome*/ }
      .main__section1 .section__icon .icon__pc {
        position: relative;
        top: -5rem;
        right: 0;
        /*clase icon bootstrap pc*/ }
        .main__section1 .section__icon .icon__pc .icon__main {
          font-size: 14rem; }
      .main__section1 .section__icon .icon__nube {
        position: relative;
        bottom: 2rem;
        left: 1.5rem;
        /*clase icon fontawensome nube*/ }
        .main__section1 .section__icon .icon__nube .fa-brands, .main__section1 .section__icon .icon__nube .header__section1 .icono__phone, .header__section1 .main__section1 .section__icon .icon__nube .icono__phone {
          font-size: 22rem; }
  /********seccion quienes somos inicio*/
  /*contenedor 1 general titulo*/
  .section__inicio {
    /*contenedor inicio-historia article scroll inicio-quienes*/
    /*estilos  para la barra de desplazamiento scroll crome-edge-opera nota: en mozilla no se  toman*/
    /*contenedor article con scroll inicio-historia*/ }
    .section__inicio .section__inicio-1 {
      width: 100%;
      justify-content: center;
      /*titulo h2 quienes somos inicio*/ }
      .section__inicio .section__inicio-1 h2 {
        padding: 4rem 6rem 2rem 6rem;
        text-align: center;
        font-size: 2.5em; }
    .section__inicio .section__inicio-3 {
      height: 16rem;
      overflow-y: scroll;
      /*p de article con esta clase*/ }
      .section__inicio .section__inicio-3 p {
        font-size: 1.5rem;
        padding: 0 3rem 0 2rem; }
    .section__inicio .section__inicio-3::-webkit-scrollbar {
      width: 0.5rem;
      /* Ancho de la barra de desplazamiento */ }
    .section__inicio .section__inicio-3::-webkit-scrollbar-thumb {
      background-color: black;
      /* Color del botón de desplazamiento */
      border-radius: 0.5rem;
      /* Borde redondeado del botón de desplazamiento */ }
    .section__inicio .section__inicio-3::-webkit-scrollbar-thumb:hover {
      background-color: #042ebe;
      /* Cambio de color al pasar el mouse por encima */ }
    .section__inicio .section__inicio-2 {
      /*p de article con esta clase, no indentar*/ }
      .section__inicio .section__inicio-2 p {
        font-size: 1.5rem;
        padding: 0 3rem 0 2rem; }
  /*contenedor general seccion inicio servicios */
  .inicio__servicios {
    padding: 6rem 6rem;
    /* Clases para los iconos icono esta en cada elemento*/
    /*estilos delos div de  iconos*/
    /*clase contenedor titulo h2 inicio__servicios*/ }
    .inicio__servicios .section__iconos {
      column-gap: 2rem;
      row-gap: 2rem;
      /*clase en cada enlace div da estilos a la fuente*/
      /*se necesita  darle font-family de fontawensome para que se reconozca el unicode en el content, la clase icono da estilos al pseudoelemento before que es el icono que se muestra antes de la letra*/ }
      .inicio__servicios .section__iconos .icono, .inicio__servicios .section__iconos .iconoServicioJs {
        font-size: 1.5rem;
        text-align: justify;
        padding: 1.5rem; }
      .inicio__servicios .section__iconos .icono::before, .inicio__servicios .section__iconos .iconoServicioJs::before {
        font-size: 2rem; }
    .inicio__servicios div {
      padding: 1rem;
      margin: 0.5rem; }
    .inicio__servicios .servicios__inicio h2 {
      font-size: 2.5em; }
  /***seccion clientes aliados****/
  .section__clientes {
    /*contenedor titulo h2 a */
    /*contenedor divs galeria */
    /* contenedor general modal*/ }
    .section__clientes .section__clientes-title {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      padding: 4rem 6rem 4rem 6rem;
      /*estos estilos deben darse  al a directamente enlace titulo inicio-clientes*/ }
      .section__clientes .section__clientes-title a {
        font-size: 1.6em; }
    .section__clientes .section__clientes-galery {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin: 1rem;
      column-gap: 1rem; }
    .section__clientes .modal {
      /*sub contenedor de la modal tamaño contenedor que contiene  la img*/ }
      .section__clientes .modal .modal-content {
        width: 40rem; }
  /*modal inicio - servicios*/
  /* Estilos para la modal de fondo */
  .modal__background-servicios {
    /* Estilos para la modal de contenido */ }
    .modal__background-servicios .modal__content-servicios {
      width: 45rem;
      height: 42rem;
      flex-direction: column;
      /*estilos del contenido de la modal*/
      /*contenedor general aside-contenido-modal*/ }
      .modal__background-servicios .modal__content-servicios .contenedor-servicio {
        padding: 1rem;
        /*titulo de la modal*/
        /*contenedor ul-img*/ }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .titulo-servicio {
          font-size: 1.8rem; }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto {
          flex-direction: column-reverse;
          /*clase en img-servicio*/
          /*clase del ul*/ }
          .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .imagen-servicio {
            position: relative;
            top: 0%;
            left: 30%; }
          .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .lista-servicio {
            font-size: 1.2rem; }
  /****************seccion productos ********************/
  .modal__background .modal__content, .modal__background .modal__content-form {
    width: 45rem;
    height: 43rem; }
    .modal__background .modal__content .productoFlex, .modal__background .modal__content-form .productoFlex {
      flex-direction: row; }
      .modal__background .modal__content .productoFlex .producto__seleccionado .cont__producto, .modal__background .modal__content-form .productoFlex .producto__seleccionado .cont__producto {
        font-size: 1rem;
        width: 5rem;
        padding: .5rem;
        overflow-y: hidden; }
    .modal__background .modal__content .tituloProductoH3, .modal__background .modal__content-form .tituloProductoH3 {
      font-size: 2rem; }
  .modal__background .btn__position {
    top: 5%; }
  .modal__background .modal__content-form {
    position: relative;
    top: 42%;
    width: 40rem; }
  /************footer****************/
  /*zise letra ancho form 720px*/
  .footer__general1 form {
    width: 60%;
    font-size: .7rem; }
  /*footer sacar el grid de llamanos 720*/
  .footer__phone-grid {
    display: none; }
  /*posicion logo footer 720*/
  .logo__footer {
    position: relative;
    left: 15%;
    /*ancho logo*/ }
    .logo__footer .img__logo-footer {
      width: 14rem; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /************header****************/
  /*  dejar fijo header a 0% del borde superior del navegador hasta 992*/
  .header {
    position: sticky;
    top: 0%; }
  /*header dejar navbar-hamburguesa fijo 991*/
  .navbar {
    position: fixed;
    background-color: transparent;
    /*ancho de logo en menu ham 991*/ }
    .navbar .header__navbar-logo {
      width: 140px; }
  /************main*****************/
  /*estilos h1 h2 h3 icons section inicio h1 pc nube article viene de main*/
  /*contenedor imagen 1 y h1 */
  .main__section1 {
    flex-direction: column;
    padding: 8rem 2rem 2rem 2rem;
    /*estilos article h1 h2 h3 icons */
    /*clase contenedor aside de iconos*/ }
    .main__section1 article {
      padding: 3rem 1rem;
      border-radius: 1%; }
      .main__section1 article h1 {
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem 0 0 0; }
      .main__section1 article h2 {
        font-size: 2.2rem; }
      .main__section1 article h3 {
        font-size: 1.8rem; }
    .main__section1 .section__icon {
      flex-direction: column-reverse;
      align-items: center;
      position: relative;
      left: 0;
      /*div icon pc de boostrap*/
      /*div icon nube de fontawensome*/ }
      .main__section1 .section__icon .icon__pc {
        position: relative;
        top: -5rem;
        right: 0;
        /*clase icon bootstrap pc*/ }
        .main__section1 .section__icon .icon__pc .icon__main {
          font-size: 14rem; }
      .main__section1 .section__icon .icon__nube {
        position: relative;
        bottom: 2rem;
        left: 1.5rem;
        /*clase icon fontawensome nube*/ }
        .main__section1 .section__icon .icon__nube .fa-brands, .main__section1 .section__icon .icon__nube .header__section1 .icono__phone, .header__section1 .main__section1 .section__icon .icon__nube .icono__phone {
          font-size: 22rem; }
  /********seccion quienes somos inicio*/
  /*contenedor 1 general titulo*/
  .section__inicio {
    /*contenedor inicio-historia article scroll inicio-quienes*/
    /*estilos  para la barra de desplazamiento scroll crome-edge-opera nota: en mozilla no se  toman*/
    /*contenedor article con scroll inicio-historia*/ }
    .section__inicio .section__inicio-1 {
      width: 100%;
      justify-content: center;
      /*titulo h2 quienes somos inicio*/ }
      .section__inicio .section__inicio-1 h2 {
        padding: 4rem 6rem 2rem 6rem;
        text-align: center;
        font-size: 2.5em; }
    .section__inicio .section__inicio-3 {
      height: 16rem;
      overflow-y: scroll;
      /*p de article con esta clase*/ }
      .section__inicio .section__inicio-3 p {
        font-size: 1.5rem;
        padding: 0 3rem 0 2rem; }
    .section__inicio .section__inicio-3::-webkit-scrollbar {
      width: 0.5rem;
      /* Ancho de la barra de desplazamiento */ }
    .section__inicio .section__inicio-3::-webkit-scrollbar-thumb {
      background-color: black;
      /* Color del botón de desplazamiento */
      border-radius: 0.5rem;
      /* Borde redondeado del botón de desplazamiento */ }
    .section__inicio .section__inicio-3::-webkit-scrollbar-thumb:hover {
      background-color: #042ebe;
      /* Cambio de color al pasar el mouse por encima */ }
    .section__inicio .section__inicio-2 {
      /*p de article con esta clase, no indentar*/ }
      .section__inicio .section__inicio-2 p {
        font-size: 1.5rem;
        padding: 0 3rem 0 2rem; }
  /*contenedor general seccion inicio servicios */
  .inicio__servicios {
    padding: 6rem 6rem;
    /* Clases para los iconos icono esta en cada elemento*/
    /*estilos delos div de  iconos*/
    /*clase contenedor titulo h2 inicio__servicios*/ }
    .inicio__servicios .section__iconos {
      column-gap: 2rem;
      row-gap: 2rem;
      /*clase en cada enlace div da estilos a la fuente*/
      /*se necesita  darle font-family de fontawensome para que se reconozca el unicode en el content, la clase icono da estilos al pseudoelemento before que es el icono que se muestra antes de la letra*/ }
      .inicio__servicios .section__iconos .icono, .inicio__servicios .section__iconos .iconoServicioJs {
        font-size: 1.5rem;
        text-align: justify;
        padding: 1.5rem; }
      .inicio__servicios .section__iconos .icono::before, .inicio__servicios .section__iconos .iconoServicioJs::before {
        font-size: 2rem; }
    .inicio__servicios div {
      padding: 1rem;
      margin: 0.5rem; }
    .inicio__servicios .servicios__inicio h2 {
      font-size: 2.5em; }
  /***seccion clientes aliados****/
  .section__clientes {
    /*contenedor titulo h2 a */
    /*contenedor divs galeria */
    /* contenedor general modal*/ }
    .section__clientes .section__clientes-title {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      padding: 4rem 6rem 4rem 6rem;
      /*estos estilos deben darse  al a directamente enlace titulo inicio-clientes*/ }
      .section__clientes .section__clientes-title a {
        font-size: 1.6em; }
    .section__clientes .section__clientes-galery {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      margin: 1rem;
      column-gap: 1rem; }
    .section__clientes .modal {
      /*sub contenedor de la modal tamaño contenedor que contiene  la img*/ }
      .section__clientes .modal .modal-content {
        width: 55rem; }
  /*modal inicio - servicios*/
  /* Estilos para la modal de fondo */
  .modal__background-servicios {
    /* Estilos para la modal de contenido */ }
    .modal__background-servicios .modal__content-servicios {
      width: 80rem;
      height: 42rem;
      flex-direction: column;
      /*estilos del contenido de la modal*/
      /*contenedor general aside-contenido-modal*/ }
      .modal__background-servicios .modal__content-servicios .contenedor-servicio {
        padding: 1rem;
        /*titulo de la modal*/
        /*contenedor ul-img*/ }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .titulo-servicio {
          font-size: 2.2rem; }
        .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto {
          flex-direction: column-reverse;
          /*clase en img-servicio*/
          /*clase del ul*/ }
          .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .imagen-servicio {
            position: relative;
            top: 0%;
            left: 30%; }
          .modal__background-servicios .modal__content-servicios .contenedor-servicio .contenedor-texto .lista-servicio {
            font-size: 1.5rem; }
  /****************seccion productos ********************/
  .modal__background .modal__content, .modal__background .modal__content-form {
    width: 82rem;
    height: 43rem; }
    .modal__background .modal__content .productoFlex, .modal__background .modal__content-form .productoFlex {
      flex-direction: row; }
      .modal__background .modal__content .productoFlex .producto__seleccionado .cont__producto, .modal__background .modal__content-form .productoFlex .producto__seleccionado .cont__producto {
        font-size: 1.5rem;
        width: 8rem;
        padding: .5rem;
        overflow-y: hidden; }
    .modal__background .modal__content .tituloProductoH3, .modal__background .modal__content-form .tituloProductoH3 {
      font-size: 2rem; }
  .modal__background .btn__position {
    top: 5%; }
  .modal__background .modal__content-form {
    position: relative;
    top: 42%;
    width: 40rem; }
  /************footer****************/
  /*padding icono phone y numero despues de form*/
  .footer__llamanos {
    padding: 0 1rem 0 3rem; }
  /*posicion logo footer 991*/
  .logo__footer {
    position: relative;
    left: 15%;
    /*ancho logo*/ }
    .logo__footer .img__logo-footer {
      width: 15rem; } }

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  /************header****************/
  /*  dejar fijo header a 0% del borde superior del navegador despues de 992*/
  .header {
    position: sticky;
    top: 0%;
    /*ancho de logo en menu ham 991*/ }
    .header .header__navbar-logo {
      width: 120px; }
  /********main****************/
  /****************seccion productos ********************/
  .modal__background .modal__content, .modal__background .modal__content-form {
    width: 98rem;
    height: 43rem; }
    .modal__background .modal__content .productoFlex, .modal__background .modal__content-form .productoFlex {
      flex-direction: row; }
      .modal__background .modal__content .productoFlex .producto__seleccionado .cont__producto, .modal__background .modal__content-form .productoFlex .producto__seleccionado .cont__producto {
        font-size: 1.5rem;
        width: 8rem;
        padding: .5rem;
        overflow-y: hidden; }
    .modal__background .modal__content .tituloProductoH3, .modal__background .modal__content-form .tituloProductoH3 {
      font-size: 2rem; }
  .modal__background .btn__position {
    top: 5%; }
  .modal__background .modal__content-form {
    position: relative;
    top: 42%;
    width: 40rem; }
  /************footer****************/
  /*footer para que los elementos del mapa corten en <= 992px*/
  .footer__section-map {
    flex-wrap: nowrap; }
  .logo__footer {
    position: relative;
    left: 15%;
    /*ancho logo*/ }
    .logo__footer .img__logo-footer {
      width: 180px; } }

@media screen and (min-width: 1301px) {
  /************header****************/
  /*  dejar fijo header a 0% del borde superior del navegador despues de 992*/
  .header {
    position: sticky;
    top: 0%;
    /*ancho de logo en menu ham 991*/ }
    .header .header__navbar-logo {
      width: 120px; }
  /************footer****************/
  /*footer para que los elementos del mapa corten en <= 992px*/
  .footer__section-map {
    flex-wrap: nowrap; }
  .logo__footer {
    position: relative;
    left: 15%;
    /*ancho logo*/ }
    .logo__footer .img__logo-footer {
      width: 180px; } }
