/*contenedor quienes somos inicio*/
.section__inicio {
    display: flex;
    flex-direction: column;
    background: linear-gradient(($col-secondary), ($col-extra), ($col-extra1));

    /*contenedor 1 general titulo*/
    .section__inicio-1 {
        display: flex;
        width: 80%;

        /*titulo h2 quienes somos inicio*/
        h2 {
            font-family: 'Open Sans', sans-serif;
            color: $col-alternate;
            font-size: $text-large ;
            font-weight: 900;
            padding: $space-medium $space-large $space-small $space-large;
            text-align: center;

        }
    }

    /*contenedor inicio-historia article scroll inicio-quienes*/
    .section__inicio-3 {
        height: $space-extend1;
        overflow-y: hidden;

        /*p de article con esta clase, no indentar*/
        p {
            font-size: $space-small;
            padding: 0 $space-xxlarge 0 $space-xxxlarge;
            color: $col-alternate;
            font-weight: 600;
            text-align: justify;
        }

    }


    /*contenedor article con scroll inicio-historia*/
    .section__inicio-2 {
        height: $space-extend1;
        overflow-y: scroll;

        /*p de article con esta clase, no indentar*/
        p {
            font-size: $space-small;
            padding: 0 $space-xxlarge 0 $space-xxxlarge;
            color: $col-alternate;
            font-weight: 600;
            text-align: justify;
        }

    }


    /*estilos  para la barra de desplazamiento scroll crome-edge-opera nota: en mozilla no se  toman*/
    .section__inicio-2::-webkit-scrollbar {
        width: $space-xxsmall;
        /* Ancho de la barra de desplazamiento */
    }

    .section__inicio-2::-webkit-scrollbar-thumb {
        background-color: $col-alternate;
        /* Color del botón de desplazamiento */
        border-radius: $space-xxsmall;
        /* Borde redondeado del botón de desplazamiento */
    }

    .section__inicio-2::-webkit-scrollbar-thumb:hover {
        background-color: $col-primary;
        /* Cambio de color al pasar el mouse por encima */
    }

    /*spam quienes somos inicio*/
    .resaltado {
        font-family: 'Open Sans', sans-serif;
        color: $col-alternate;
        font-weight: 900;
        text-shadow: $space-border-bottom $space-border-bottom $space-shadow-1 $col-alternate1;
    }

    /*div link inicio*/
    .inicio__link {
        text-align: end;
        padding: $space-small $space-xxlarge $space-small 0;
        font-family: 'Open Sans', sans-serif;
        font-size: $space-small;

        a {
            color: $col-alternate;
        }

        a:hover {
            color: $col-primary;
        }
    }
}

/*contenedor general seccion inicio servicios */
.inicio__servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, ($col-form), ($col-cuatro));
    padding: $space-xlarge $space-large;
    color: $col-alternate;

    /* Clases para los iconos utilizando la propiedad 'content' icono esta en cada elemento*/
    .section__iconos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: $space-slarge;
        row-gap: $space-smedium;

        /*clase en cada enlace div da estilos a la fuente*/
        .icono {
            font-size: $space-small;
            color: $col-alternate;
        }

        .icono:hover {
            color: $col-primary;
        }

        /*se necesita  darle font-family de fontawensome para que se reconozca el unicode en el content, la clase icono da estilos al pseudoelemento before que es el icono que se muestra antes de la letra*/
        .icono::before {
            font-size: $space-small-1; // tamaño icono que es el pseudo before
            margin-right: $space-xsmall;
            font-family: FontAwesome;
        }

        /*nota: metodo para usar el content con los iconos, no se necesita porque la clase da icono en html
        .icono.fa-briefcase::before {
            content: "\f0ec";
        }

        .icono.fa-users::before {
            content: "\f0c0";
        }

        .icono.fa-file::before {
            content: "\f15b";
        }

        .icono.fa-laptop::before {
            content: "\f109";
        }

        .icono.fa-calculator::before {
            content: "\f1ec";
        }

        .icono.fa-cogs::before {
            content: "\f085";
        } */
    }

    /*estilos delos div de  iconos*/

    div {
        background-color: $col-cuatro;
        padding: $space-small;
        margin: $space-xsmall;
        border-radius: $space-xxsmall;
        font-family: 'Raleway', sans-serif;
    }

    /*clase contenedor titulo h2 inicio__servicios*/
    .servicios__inicio {
        color: $col-alternate;
        margin-bottom: $space-smedium;

        h2 {
            font-size: $text-slarge;
            font-family: 'Open Sans', sans-serif;
            font-weight: 900;
        }
    }

    /*se le debe dar un valor a la clase para usar la pseudoclase hover*/
    .servicios__inicio:hover {
        color: $col-primary;
    }
}


/****************seccion clientes-inicio*******/
/*contenedor general titulo h2 y galeria*/
.section__clientes {
    display: flex;
    flex-direction: column;
    background: linear-gradient(($col-secondary), ($col-extra), ($col-extra1));

    /*contenedor titulo h2 a */
    .section__clientes-title {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        padding: $space-medium $space-large $space-medium $space-large;

        /*estos estilos deben darse  al h2 directamente*/

        /*estos estilos deben darse  al a directamente enlace titulo inicio-clientes*/
        a {
            color: $col-alternate;
            font-size: $text-base ;
            font-weight: 900;
        }

        /*hover enlace titulo inicio-clientes*/
        a:hover {
            color: $col-primary;
        }
    }

    /*contenedor divs galeria */
    .section__clientes-galery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        gap: $space-slarge;
        margin: $space-small $space-xxlarge $space-medium $space-xxlarge ;

        /*clase encada div galeria */
        .inicio__galery {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: $space-logo3;
            height: $space-logo5;
            background-color: $col-secondary;
            border-radius: $space-xsmall ;

            /*img de cada div galeria */
            img {
                border-radius: $space-xsmall ;
            }

            /*clase a algunas img que modifica altura*/
            .inicio__galery-img {
                height: 100%;
            }

            /*clase pading img grinsa*/
            .inicio__galery-img1 {
                padding: 0 $space-xsmall 0 $space-xsmall;
            }
        }

        /* Agrega un aumento de escala a las imágenes en hover */
        .inicio__galery:hover {
            transform: scale(2);
            /* Escala al 120% en hover */
            transition: transform 0.3s ease;
            /* Agrega una transición suave */
        }

        /* Agrega un aumento de escala a las imágenes en clic */
        .inicio__galery img:active {
            transform: scale(1.2);
            /* Escala al 120% en clic */
            transition: transform 0.3s ease;
            /* Agrega una transición rápida */
        }

        /*h5 de cada div galeria */
        .inicio__galery-h5 {
            text-align: center;
            margin-top: $space-xsmall;
            color: $col-alternate;
            font-weight: bold;
            font-family: 'Nunito', serif;
            text-shadow: $space-border-bottom $space-border-bottom $space-shadow-1 $col-alternate1;
            ;
        }

    }

    /***seccion inicio-modal ***/
    /* contenedor general modal*/
    .modal {
        position: fixed;
        background: $background-modal;
        z-index: 20;

        /* Estilos para el contenido de la modal que se posicione en el centro */
        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: $space-px;
            text-align: center;
            border-radius: $space-xsmall;
            width: $space-mega-large; //ancho del contenedor de la img
        }

        /* Estilos para el enlace de cierre */
        //div contenedor de i
        .cerrar {

            //clase enlace i de fontawensome cambia estilos icono close
            .fa-rectangle-xmark {
                color: $col-extra;
                position: absolute;
                top: $space-px1;
                right: $space-px1;
                font-size: $space-slarge;
                text-decoration: none;
                z-index: 20;
                cursor: pointer;
            }

            //hover icono close
            .fa-rectangle-xmark:hover {
                color: $col-extra1;
            }
        }

        /* Estilos para la imagen cuando se despliega la modal  */
        .modal-content img {
            max-width: 100%;
            padding: $space-medium $space-small; //interno
        }
    }
}