/* Estilos para la modal de fondo */
.modal__background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background-modal;
    z-index: 20;
    

    /* Estilos para la modal de contenido */
    .modal__content {
        background-color: white;
        padding-top: $space-small;
        text-align: center;
        border-radius: $space-xsmall;
        position: relative;
        top: 40%; //posicion que sube de la modal hacia el botón cerrar
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120rem;
        height: 50rem;
        gap: $space-smedium;
        overflow: auto;
        animation: slideDown 0.5s ease;//(duración 0.5 segundos efecto de entrada y salida suave 

        /*******estilos contenedor producto******/
        //***** clase asignada en la plantilla js <div class="cont__producto " >
        .cont__producto {
            font-size: $space-ssmall;
            background-color: $col-extra;
            padding: $space-xsmall;
            margin: 0 $space-ssmall $space-xsmall 0rem;
            border-radius: $space-xxsmall;
            color: $col-alternate;
            font-weight: 600;
            text-shadow: $space-border-bottom $space-border-bottom $space-shadow-1 $col-alternate1;
            box-shadow: 0 $space-shadow-1 $space-shadow-3 $col-primary, 0 $space-shadow $space-shadow-4 $col-alternate;
            ;
            width: $space-extend1;
            cursor: pointer;
            // overflow: auto;
        }

        .cont__producto:hover {
            background-color: $col-extra1;
            transform: scale(1.2);
            /* Escala al 120% en hover */
            transition: transform 0.3s ease;
            /* Agrega una transición suave */
        }

        /* Agrega un aumento de escala a las imágenes en clic */
        .cont__producto:active {
            transform: scale(1.2);
            /* Escala al 120% en clic */
            transition: transform 0.3s ease;
            /* Agrega una transición rápida */
        }

        /*div flex donde se imprimiran los productos, clase desde js function mostrarProductos(array)*/
        .productoFlex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        /*h3 se imprimira el titulo de los productos esta clase es desde js  ***/
        .tituloProductoH3 {
            color: $col-alternate;
            font-size: $text-slarge;
            font-family: 'Open Sans', sans-serif;
            font-weight: 900;
            margin-top: 2.5rem;
        }

    }

    /*clase contenedor modal-form*/
    .modal__content-form {
        @extend.modal__content;
        top: 50%;
        width: 40rem;
        max-height: 100%;
        background-color:$col-form;
    }

}

/*******clase js para dejar prductos selecionados al hacer clic No indentar este bloque*/
.producto__seleccionado {
    color: inherit; //propiedad minima para que no marque error la clase sin contenido
}

/*****esta clase tiene los estilos y trabaja en js NOTA no indentar, elementos se crean dinamicamente y puede dar error*/
.seleccionado {
    background-color: $col-extra1;
    transform: scale(1.2);
    /* Escala al 120% en hover */
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
}

/* form general de productos */
.form__productos {
    padding: 0 $space-xsmall $space-small $space-xsmall;
    color: $col-secondary;
    // background-color: $col-form;
    width: 100%;
    height: 100%;
    border-radius: 1%;

    /* fieldset del form */
    fieldset {
        font-size: $space-ssmall;

        legend {
            font-size: $space-small;
            font-weight: 500;
        }

        /* formProductos clase estilos de cada input*/
        .FormProductos {
            font-size: $space-ssmall;
        }
    }


}

/* Estilos para el enlace de "Cerrar" */
.cerrarModal {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    text-align: center;
    padding: 0 $space-small;
    border-radius: $space-shadow-2;
    margin-top: $space-px1;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición de colores suave */
    position: relative;
    top: $space-large;
    font-size: $space-ssmall;
    position: relative;
    top: 0%; // subir boton

    /*contiene el icono y sirve para centrarlo en el div dandole flex al contenedor principal*/
    i {
        background-color: $col-primary;
    }

    i:hover {
        background-color: $col-cuatro;
        color: $col-alternate;
        transform: scale(1.2);
        /* Escala al 120% en hover */
        transition: transform 0.3s ease;
        /* Agrega una transición suave */
    }
}

/* Cambia estilos del icono cerrar clase fontawnsome */
.fa-xmark {
    font-size: $space-smedium;
    border-radius: $space-shadow-2;
    padding: $space-xxsmall;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: $col-secondary;
}