/*colors*/
$col-primary: rgb(4, 46, 190);
$col-secondary: rgb(255, 255, 255);
$col-tres: rgba(255, 255, 255, 0.5);
$col-cuatro: rgba(255, 255, 255, 0.7);
$col-alternate: rgb(0, 0, 0);
$col-alternate1: rgba(0, 0, 0, 0.5);
$background-modal: rgba(0, 0, 0, 0.8);
$col-ultimate: rgb(232, 237, 237);
$col-extra:  rgb(150, 150, 255);
$col-extra1: rgba(4, 46, 190, 0.6);
$col-form: rgba(4, 46, 190, 0.7);

/*spacings*/
$space-logo: 160px;
$space-logo2: 180px;
$space-logo4: 150px;
$space-logo3: 140px;
$space-logo1: 120px;
$space-logo5: 90px;
$space-mega-large: 70rem;
$space-xx-large: 55rem;
$space-xx-large1: 50rem;
$space-xm-large: 40rem;
$space-superlarge: 32rem;
$space-xxxlarge: 22rem;
$space-xxlarge: 18rem;
$space-extend1: 16rem;
$space-xslarge: 15rem;
$space-extend: 14rem;
$space-xlarge: 10rem;
$space-extend2: 8rem;
$space-large: 6rem;
$space-slarge: 5rem;
$space-medium: 4rem;
$space-smedium: 3rem;
$space-small-1: 2.4rem;
$space-small: 2rem;
$space-ssmall: 1.5rem;
$space-xsmall: 1rem;
$space-xxsmall: .5rem;
$space-px: 20px;
$space-px1: 10px;
$space-shadow-3: 6px;
$space-shadow-2: 5px;
$space-shadow-1: 4px;
$space-shadow-4: 3px;
$space-border-bottom: 2px;
$space-shadow: 1px;

/*font-sizes*/
$text-xlarge: 5em;
$text-slarge:3.8em;
$text-large: 3em;
$text-medium: 2.5em;
$text-base: 1.9em;
$text-small: 1.6em;
$text-xsmall: 1.2em;
$text-new: 2.5rem;
$text-new1: 2.2rem;
$text-new2: 1.8rem;