/*colors*/
$col-primary: rgb(4, 46, 190);
$col-secondary: rgb(255, 255, 255);
$col-tres: rgba(255, 255, 255, 0.5);
$col-cuatro: rgba(255, 255, 255, 0.7);
$col-alternate: rgb(0, 0, 0);
$col-alternate1: rgba(0, 0, 0, 0.5);
$col-ultimate: rgb(232, 237, 237);
$col-extra:  rgb(150, 150, 255);
$col-extra1: rgba(4, 46, 190, 0.6);
$col-form: rgba(4, 46, 190, 0.7);

/*spacings*/
$space-superlarge:32rem;
$space-xxxlarge:22rem;
$space-xxlarge:18rem;
$space-xslarge:15rem;
$space-xlarge: 10rem;
$space-large: 6rem;
$space-slarge:5rem;
$space-medium: 4rem;
$space-smedium: 3rem;
$space-small-1: 2.4rem;
$space-small: 2rem;
$space-ssmall: 1.5rem;
$space-xsmall: 1rem;
$space-xxsmall: .5rem;
$space-shadow-1: 4px;
$space-border-bottom: 2px;
$space-shadow: 1px;

/*font-sizes*/
$text-xlarge: 5em;
$text-slarge:3.8em;
$text-large: 3em;
$text-medium: 2.5em;
$text-base: 1.9em;
$text-small: 1.6em;
$text-xsmall: 1.2em;
